<?xml version="1.0"?>
<!--
  Customize the rules WP Enforcer uses by editing this file according to PHP CodeSniffer's
  ruleset.xml standard: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml
-->
<ruleset name="WP-Enforcer">
	<description>Coding standards from WP Enforcer.</description>

	<!-- FILES -->

	<exclude-pattern>*/tests/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>

	<rule ref="WordPress-VIP"/>
	<rule ref="WordPress-Docs"/>
</ruleset>
